@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flowerd&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: #00BD73;
}

header
{
    position: sticky;
    top: 0;
    width: 100%; 
    height: 10vh;
    user-select: none; 
}

.head-navigation
{
    display: flex;
    background-color:  Khaki;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2%; 
    color: #0E804E;
    box-shadow: 0px 8px 17px 0px black;
}

.head 
{
    display: flex;
    background: #22C987; 
    justify-content: center; 
    align-items: center;
    padding: 1%;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}



footer {
    display: block;
    height: 40vh;
    max-width: 100%;
    background-color: #1C4942;
    padding: 5% 5%;
}

.footer-content
{
    margin: 3%; 
    font-family: 'Indie Flower', cursive;
}

.contacts
{
    display: block; 
    padding: 1%;
    color: #33BD5C;
}

.footer-href
{
    text-decoration: none;
    color: #33BD5C;
    transition-property: color; 
    transition-duration: 0.5s;
    cursor: pointer; 
    font-family: 'Righteous', cursive;
}

.footer-href:hover
{
    color: white;
    text-decoration: underline;
}


.btn
{
    text-decoration: none; 
    color: #002210;
    transition-property: color; 
    transition-duration: 0.5s;
    cursor: pointer; 
    font-family: 'Righteous', cursive;
}

.btn:hover
{
    color: yellow;
}



.main-message-div
{
    display: flex; 
    margin: 5%;
    margin-top: 0px;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}


.font-clr
{
    color: #002210;
}

.article-title
{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    height: 5%;
    padding: 3%;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 1%;
    margin-top: 10%;
    border-bottom: 3px solid #1C4942;
}

.epigraph-wrapper
{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-wrap: wrap; 
    width: 100%;
    height: 5%;
    padding: 3%;
    border-bottom: 3px solid #1C4942;
    margin-bottom: 5%;
}

.epigraph
{
    display: flex;
    margin-bottom: 5%;
    font-family: 'Marck Script', cursive;
    font-size: 25px;
}

.author
{
    display: flex;
}

.article-div
{
    border-left: 3px solid #1C4942;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 70vw;
    margin: 1%;
    padding: 3%;
}

.article-text
{
    display: inline-block;
    padding: 1%;
    font-family: 'Marmelad', cursive;
    font-size: large;
    word-spacing: 3px;
}

.pub-date
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 1%;
    padding: 1%;
    margin-top: 5%;
    margin-bottom: 1%;
}

.article-author
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 1%;
    padding: 1%;
}