@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: #00BD73;
}

header
{
    position: sticky;
    top: 0;
    width: 100%; 
    height: 10vh;
    user-select: none; 
}

.head-navigation
{
    display: flex;
    background-color: Khaki;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2%; 
    color: #0E804E;
    box-shadow: 0px 8px 17px 0px black;
}

.head 
{
    display: flex;
    background: #22C987; 
    justify-content: center; 
    align-items: center;
    padding: 1%;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}



footer {
    display: block;
    min-height: 40vh;
    max-width: 100%;
    background-color: #1C4942;
    padding: 5% 5%;
}

.footer-content
{
    margin: 3%; 
    font-family: 'Indie Flower', cursive;
}

.contacts
{
    display: block; 
    padding: 1%;
    color: #33BD5C;
}

.footer-href
{
    text-decoration: none;
    color: #33BD5C;
    transition-property: color; 
    transition-duration: 0.5s;
    cursor: pointer; 
    font-family: 'Righteous', cursive;
}

.footer-href:hover
{
    color: white;
    text-decoration: underline;
}


.btn
{
    text-decoration: none; 
    color: #002210;
    transition-property: color; 
    transition-duration: 0.5s;
    cursor: pointer; 
    font-family: 'Righteous', cursive;
}

.btn:hover
{
    color: Yellow; 
}


.bordur
{
    border: 1px solid black;
    padding: 5%;
    margin: 1%;
    margin-bottom: 10%;
    background: white;
    box-shadow: 0px 0px 0px 0px black;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.bordur:hover
{
    box-shadow: 0px 8px 17px 5px black;
}


.main-message-div
{
    display: flex; 
    flex-direction: column;
    width: 60vw;
    margin: 5%;
    margin-left: 15vw;
    padding: 5%;
    justify-content: center; 
    align-items: center;
}

.container-imgs
{
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.container-imgs img
{
    max-width: 100%;
}

.flx-msg
{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.message-div-compaired 
{
    display: inline-block;
    width: 100%;
    margin: 1%;
    background-color: #63FDB7; 
    border-left: 15px solid green;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 3%;
    overflow: hidden;
    box-shadow: 0px 8px 17px 0px black;
    cursor: pointer;
    user-select: none;
}

.colorless-txt
{
    display: inline-block;
    width: 70vw;
    margin: 1%;
    padding: 3%;
    overflow: hidden;
    color: #002210;
}

.title-div
{
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: 'Patrick Hand', cursive;
    padding: 1%;
}

.title-div:hover
{
    text-decoration: underline;
}

.message-div
{
    display: inline-block;
    font: message-box; 
    padding: 1%;
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
}
